<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <h1>Create a new account!</h1>
    <form action="/auth/sign-up" method="POST">
      <!-- user name  -->
      <div>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" />
      </div>

      <!-- password -->
      <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" />
      </div>
      <!--confirm password -->

      <button type="submit">Sign in</button>
    </form>
  </body>
</html>
